/* baloo 2 font import from google font */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo 2", sans-serif;
}

/* common css  */
li {
  list-style-type: none;
  cursor: pointer;
}

/* utils styling  */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.secoundry-btn {
  padding: 15px 20px;
  background-color: #282828;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.nav-right:hover .ion-icon{
    transform: rotate(360deg);
}


.ion-icon {
  font-size: 3rem;
  /* background-color: #fff; */
  /* border-radius: 100%; */
  fill: #282828;
  rotate: -50deg;
  transition: all 0.5s ease-in-out;
}

.explore-btn {
  padding: 5px 20px;
  background-color: #7aaa3f;
  border: none;
  outline: none;
  border-radius: 28px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}

.explore-btn:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.title{
    font-size: 35px;
    width: 500px;
}

.sub-title{
    font-size: 20px;
}

.text-center{
    text-align: center;
}

/* utils styling  end*/

/* navbar code started  */
.navbar {
  justify-content: center;
  padding: 1rem 2rem;
  align-items: flex-end;
  gap: 6rem;
}

.left-nav img {
  width: 200px;
}

.center-nav {
  font-size: 15px;
  font-weight: 600;
  gap: 4.5rem;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.center-nav li:hover{
    color: #7aaa3f;
}

/* navbar code end */

/* hero section code started */

.bg-img {
  background-image: url("/assets/Images/hero-background.png");
  height: 700px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 65rem;
}

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.hero-text {
    color: #fff;
    flex-direction: column;
    gap: 1rem;
}

/* hero section code end */
